*.diff
*.iml
*.ipr
*.iws
*.jar
*.log
*.swp
*.tar.bz2
.DS_Store
.backups
.classpath
.idea
.project
.settings
Icon?
Temp
myports.txt
requested.txt
target
work
installed.txt
restore_ports.tcl
package-lock.json
